@import "tailwindcss";

.scroll-bar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scroll-bar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.glow-today {
  box-shadow: 0 0 10px 2px rgba(0, 255, 128, 0.5);
  transition: all 0.3s ease-in-out;
}
@keyframes shine {
  0% {
    transform: rotate(45deg) translate(-100%, -100%);
  }
  100% {
    transform: rotate(45deg) translate(100%, 100%);
  }
}
.group-hover\:animate-shine:hover {
  animation: shine 1s ease-in-out forwards;
}

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
